{% extends "layout.tmpl" %}

{% block body %}
    <div class="container-fluid">
        <div class="span2">
            <h5>Control Panel</h5>
        </div>
        <div id="showbox" class="span10">
        </div>
    </div>
{% endblock %}
